body {
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.5;
}

button, input {
  font: inherit;
}

#layout {
  display: flex;
  flex-flow: row wrap;
}

#sidebar {
  max-width: 25rem;
  margin: 1rem;
}

header {
  display: flex;
  flex-flow: column nowrap;
}

#github {
  text-align: center;
}

#github::before {
  content: "[";
}

#github::after {
  content: "]";
}

h1 {
  font-size: 2rem;
  text-align: center;
}

#year {
  color: brown;
}

h2 {
  font-size: 1.5rem;
  color: gray;
  text-align: center;
}

#controls {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

#controls > div {
  margin-bottom: 1rem;
}

#controls > div > label {
  display: flex;
  flex-flow: row wrap;
}

#controls > div > label > span {
  display: block;
}

#year-textbox {
  flex: auto;
  margin-left: 1rem;
  min-width: 4rem;
}

#year-textbox:valid {
  color: green;
}

#year-textbox:invalid {
  color: red;
  font-style: oblique;
}

#slider {
  flex: auto;
  margin-left: 1rem;
}

#animate-textbox {
  flex: auto;
  margin-left: 1rem;
  min-width: 3rem;
}

#animate-textbox:valid {
  color: green;
}

#animate-textbox:invalid {
  color: red;
  font-style: oblique;
}

#state-count {
  text-decoration: underline;
  text-align: center;
}

#num-states {
  font-weight: bold;
}

#data-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#data-list > div {
  width: 8rem;
}

#data-list > div > dt {
  float: left;
  clear: left;
  font-weight: bold;
}

#data-list > div > dt::after {
  content: ": ";
  white-space: pre;
}

#data-list > div > dd {
  margin-left: 0;
}

#map {
  flex: 1;
}

#map-svg {
  max-height: 100vh;
}

#map-svg .state {
  fill: white;
}
