body {
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.5;
}

button, input {
  font: inherit;
}

body {
  display: flex;
  flex-flow: row wrap;
}

#sidebar {
  max-width: 48rex;
  margin: 1rex;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

#year {
  color: brown;
  font-weight: bold;
}

#controls {
  height: 10rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

#controls input {
  vertical-align: middle;
}

label[for="slider"] {
  display: flex;
  flex-flow: row wrap;
}

#slider {
  flex: auto;
  margin-left: 1rem;
}

label[for="year-textbox"] {
  display: flex;
  flex-flow: row wrap;
}

#year-textbox {
  font-size: 1rem;
  flex: auto;
  margin-left: 1rem;
}

#year-textbox:valid {
  color: green;
}

#year-textbox:invalid {
  color: red;
  font-style: oblique;
}

#animate {
  transform: scale(2);
}

#github {
  float: right;
}

#data {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#data div {
  width: 15rex;
}

#data dt {
  float: left;
  clear: left;
  font-weight: bold;
}

#data dt::after {
  content: ": ";
  white-space: pre;
}

#data dd {
  margin-left: 0;
}

#map {
  flex: 1;
  max-height: 100vh;
}

#map svg {
  max-width: 100%;
  max-height: 100%;
}

#map .state {
  fill: white;
}
