body {
  font-family: monospace;
  font-size: 1rem;
}

button, input {
  font: inherit;
}

@media (min-width: 9in) {
  body {
    display: flex;
    flex-direction: row;
  }

  #sidebar {
    width: 4.5in;
  }

  #map {
    flex-grow: 1;
    height: 100vh;
  }
}

h1 {
  font-size: 2rem;
  text-align: center;
}

#year {
  color: brown;
  font-weight: bold;
}

#jump-controls {
  display: flex;
  flex-direction: row;
}

#jump-controls > * {
  flex: 1 1 auto;
}

#submit-year {
  display: inline;
  font-size: 1rem;
  vertical-align: top;
  align-items: center;
}

#year-textbox {
  width: 5ex;
}

#year-textbox:valid {
  color: green;
}

#year-textbox:invalid {
  color: red;
  font-style: oblique;
}

#slider-controls {
  width: 100%;
  display: flex;
  align-items: center;
}

#slider {
  flex-grow: 1;
  margin-left: 1ex;
  margin-right: 1ex;
}

#data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#data div {
  width: 15ex;
}

#data dt {
  float: left;
  clear: left;
  font-weight: bold;
}

#data dt::after {
  content: ": ";
  white-space: pre;
}

#data dd {
  margin-left: 0;
}

#map svg {
  max-width: 100%;
  max-height: 100%;
}

#map .state {
  fill: white;
}
