body {
  font-family: monospace;
  font-size: 1rem;
}

button, input {
  font: inherit;
}

@media (min-width: 8in) {
  body {
    display: flex;
    flex-direction: row;
  }
  
  #sidebar {
    width: 4in;
  }
  
  #map {
    flex-grow: 1;
  }
}

#header {
  font-size: 2rem;
  text-align: center;
}

#year {
  color: brown;
  font-weight: bold;
  font-size: 2.5rem;
}

#edit-year, #submit-year {
  display: inline;
  font-size: 1rem;
  vertical-align: top;
  align-items: center;
  margin-left: 1rex;
}

#year-textbox {
  font-size: 2rem;
  width: 5ex;
}

#year-textbox:valid {
  color: green;
}

#year-textbox:invalid {
  color: red;
  font-style: oblique;
}

#controls {
  width: 100%;
  display: flex;
  align-items: center;
}

#slider {
  flex-grow: 1;
  margin-left: 1ex;
  margin-right: 1ex;
}

#animate, #pause {
  width: 10ex;
}

#data {
  display: flex;
  flex-wrap: wrap;
}

#data div {
  width: 15ex;
}

#data dt {
  float: left;
  clear: left;
  font-weight: bold;
}

#data dt::after {
  content: ": ";
  white-space: pre;
}

#data dd {
  margin-left: 0;
}

#map .state {
  fill: white;
}

#map svg {
  width: 100%;
}

#repo {
  text-align: center;
}
